@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
@import url("https://use.typekit.net/oes6dvw.css");

/* Global Styles */
.App {
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
  color: #151515;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.container-horizontal {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-padded {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 10vh 16vw;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

/* Welcome Page Styles */
.welcome-title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #151515;
}  

/* Login Page Styles */
.page-login-line {
  width: 122px;
  height: 0px;
  border: 0.7px solid #000000;
}

/* Calendar Styles */

.horizontal-scroll{
  overflow-x: scroll;
  display: flex;
}

.vertical-scroll{
  display: flex;
  flex-wrap: wrap;
}

@media (max-width:700px){
  .vertical-scroll{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.calendar-card{
  min-width: 220px;
  min-height: 150px;
  width: 15vw;
  height: 10vh;
  border: 1px solid #D2D2D2;
  border-radius: 20px;
  cursor: pointer;
  background-color: white !important;
}

/* Portal Styles */
.portal-nav {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #123400;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* Homepage Styles */
.heading {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 22px;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}

.top-heading {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 22px;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  margin-top: 70px;
}

.logo{
  font-family: 'aller-display';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: black;
}

.pinned {
  text-align: left !important;
  font-size: 18px !important;
}

/* Patternfly Variables #205F00; #123400*/
.pf-c-button{
  --pf-global--primary-color--100: #172466;
  --pf-global--primary-color--200: #0358ae;
}

.selected-chip-non-clicked {
  --pf-c-icon__content--Color: #0066CC;
}

.selected-chip-non-clicked:hover {
  --pf-global--primary-color-100: grey;
  --pf-global--primary-color--dark-100: grey;
}

.selected-chip-clicked {
  --pf-global--primary-color-100: #0066CC;
  --pf-global--primary-color--dark-100: #0066CC;
  --pf-global--BorderColor--300 : #0066CC;
  --pf-global--BorderColor-100: #0066CC;
  --pf-global--BorderColor--dark-100: #0066CC;
}

.modal-overlay {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal-box {
  position: relative;
  background: white;
  width: 70%;
  height: 70%;
  padding: 1rem;
  cursor: auto;
  overflow: hidden;
}

@media (min-width: 800px) {
  .modal-box {
    width: 50%;
    height: 70%;
  }
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Enable scrolling within modal content */
  max-height: 70vh; /* Limit content height */
}


.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.modal-text{
  margin-top: 20px;
}

.logout-button{
  background-color: #172466;
  border-color: #172466;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
}

.grab-cursor {
  cursor: pointer;
}

.container .home-button {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

.input {
  border-radius: 20px;
}

 .hamburger-menu-container {
  position: relative; 
  display: flex;
  align-items: center;
  height: 100%; 
} 

.hamburger-icon {
  font-size: 40px;
  font-family: var(--bs-body-font-family);
  cursor: pointer;
  transition: transform 0.3s ease-out; 
  position: fixed;
  right: 20px; 
}

.hamburger-icon.open {
  transform: rotate(90deg); /* Rotate the icon when menu is open */
  z-index: 1100;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent background */
  z-index: 1000;
  transition: opacity 0.3s ease-out; 
  /* Fade in/out transition for overlay */
  opacity: 0; /* Start with no opacity */
  pointer-events: none; /* Do not allow clicks on overlay until opened */
}

.menu-overlay.open {
  opacity: 1; /* Make overlay visible */
  pointer-events: auto; /* Allow clicks on overlay when open */
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white; /* Background color of the menu */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-out; /* Slide in/out transition for menu */
  transform: translateX(100%); /* Start off-screen to the left */
}

.menu.open {
  transform: translateX(0); /* Slide the menu into view from the left */
}

.menu button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.menu button:hover {
  background-color: #f1f1f1;
}
/* LogoBar.css */

.logo-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #0066cc54;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
}

.logo-bar-left {
  display: flex;
  align-items: center;
}

.logo-bar-right {
  display: flex;
  align-items: center;
}

.calendar-text {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}

.modal-image img {
  max-width: 85%;
  max-height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding-bottom: 40px;
}

.modal-image img.full-size {
  transform: scale(2);
  cursor: zoom-out;
}